# Copie este arquivo para .env na sua VPS antes de rodar docker-compose
# cp .env.docker.example .env

VITE_SUPABASE_URL=https://mmbtrkrzkilyvrqtitnq.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1tYnRya3J6a2lseXZycXRpdG5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0MzU2MDMsImV4cCI6MjA5MjAxMTYwM30.TMh98cs5QtUHl9_X1fOrnCN23q8gapZpenBRKXphT4s
VITE_SUPABASE_PROJECT_ID=mmbtrkrzkilyvrqtitnq
